/* Стилизация шапки страницы */
header {
    background-color: #293d29; /* Темно-зеленый фон */
    color: white; /* Белый текст */
    padding: 10px 20px; /* Внутренние отступы */
    display: flex; /* Использование flexbox для расположения элементов */
    justify-content: space-between; /* Элементы распределены равномерно с пространством между */
    align-items: center; /* Выравнивание по вертикальному центру */
}

.partfolio{
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-decoration: none;
}

/* Стилизация навигационного меню */
nav ul {
    list-style: none; /* Удаление маркеров списка */
    padding: 0; /* Убираем внутренние отступы */
    display: flex; /* Использование flexbox для расположения элементов списка */
}

nav li {
    margin: 0 10px; /* Горизонтальные отступы между элементами списка */
}

nav a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: white; /* Цвет текста белый */
    font-weight: bold; /* Жирное начертание текста */
}

/* Стилизация подвала страницы */
footer {
    text-align: center; /* Выравнивание текста по центру */
    padding: 20px 0; /* Вертикальные отступы */
    background-color: #293d29; /* Темно-зеленый фон, как в шапке */
    color: white; /* Белый текст */
    font-size: 0.8em; /* Размер шрифта */
}

/* Общие стили для всей страницы */
body, html {
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
    font-family: 'Montserrat', sans-serif; /* Шрифт Montserrat для текста на странице */
    background-color: #1a1a1a; /* Темно-серый цвет фона */
    color: #c7d5c5; /* Светло-серый цвет текста */
    scrollbar-color: grey black; /* Цвет скроллбара */
    scrollbar-width: thin; /* Уменьшенная ширина скроллбара */
}

/* Стилизация скроллбара для браузеров на базе WebKit */
body::-webkit-scrollbar {
    width: 12px; /* Ширина скроллбара */
    background-color: black; /* Фоновый цвет скроллбара */
}

body::-webkit-scrollbar-thumb {
    background-color: grey; /* Цвет ползунка */
    border-radius: 6px; /* Скругление ползунка */
}

body::-webkit-scrollbar-track {
    background-color: black; /* Цвет дорожки скроллбара */
}

/* Основные стили для контейнера слайдера */
.slider {
    position: relative;
    overflow: hidden; /* Скрывает элементы, выходящие за границы */
    background-color: #293d29; /* Фоновый цвет */
}

/* Горизонтальное расположение слайдов */
.slides {
    display: flex;
    transition: transform 0.5s ease; /* Анимация смены слайдов */
}

/* Стилизация каждого слайда */
.slide {
    min-width: 100%; /* Минимальная ширина слайда равна ширине контейнера */
    transition: transform 0.5s ease;
    position: relative;
}

.slide img {
    width: 100%; /* Ширина изображения равна ширине слайда */
    display: block;
}

/* Стилизация подписей к слайдам */
.project-caption {
    position: absolute;
    bottom: 10%; /* Расположение подписи у нижнего края */
    left: 50%;
    transform: translateX(-50%); /* Центрирование подписи */
    width: 20%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон для текста */
    color: white;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5); /* Тень для лучшей видимости */
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
}

/* Стилизация кнопок переключения слайдов */
button.prev, button.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #c7d5c5; /* Светло-серый фон кнопок */
    color: #293d29; /* Темно-зеленый текст */
    border: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 24%; /* Скругление кнопок */
    transition: transform 0.2s; /* Плавный переход при наведении */
}

/* Эффект при наведении на кнопки */
button:hover {
    transform: scale(1.15); /* Увеличение кнопки при наведении */
}

/* Позиционирование кнопок */
button.prev {
    left: 10px; /* Кнопка "назад" слева */
}

button.next {
    right: 10px; /* Кнопка "вперед" справа */
}